/*navigation bar*/
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

.navigation {
  list-style: none;
  margin: 0;
  background: #87D8CF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-family: Verdana
}

.navigation a:hover {
  background: #A1E0D9
;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

body {
    background-image: url("http://i.imgur.com/Gwdn8Ey.png?1");
    background-repeat: repeat;
    margin: 0;
}

/*header*/
#headerimg {
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0px auto;
}

.header {
  height: 50px;
  width: 100%;
  marign: 0 auto;
}

#content {
  width: 100%;
  margin: 0 auto;
}

/*header text*/
h3 {
  font-family: 'Oswald';
  font-size: 5em;
  color: #87D8CF;
  text-align: center;
}

.main-header {
  text-align: center;
}

/*headers*/
h1 {
  text-align: center;
  font-family: 'Oswald';
  padding: 0;
  font-size:3.2em;
  color: #87D8CF;
  margin-top: -55px;
}

h2 {
  text-align: center;
  color: #3C3C3E;
  padding: 0;
  margin-top: 50px;
  font-size: 2.5em;
  font-family: 'Oswald';
}

h4 {
  color: white;
  font-size: 1.5em;
  padding: 0;
  font-family: Verdana;
}

h5 {
  color: white;
  font-size: 1em;
  padding: 0;
  font-family: Verdana;
}

/*links*/

a:link {
  color: white;
}

a:hover {
  color: #3C3C3E;
}

a:visited {
  color: white;
}


/*paragraphs*/
p {
  font-size: 1em;
  text-indent: 25px;
  font-family: Verdana;
  color: white;
  padding; 10px;
  line-height: 1.4em;
}

#blocktext {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 1300px;
}

/*terminology overview*/
.overview {
  background: #87D8CF;
  padding: 10px;
  margin-top: -30px;
  width: 100%;
}

/*terminology blocks*/
.displayterm {
  background: #61CBBF;
  padding: 10px; 
  margin-top: -30px;
  width: 100%;
}

.flexdirection {
  background: #A1E0D9;
  padding: 10px;
  margin-top: 0;
  width: 100%;
}

.flexwrap {
  background: #61CBBF;
  padding: 10px;
  width: 100%;
}

.flex-flow {
  background: #A1E0D9;
  padding: 10px;
  margin-top: 0;
  width: 100%;
}

.justify-content {
  background: #61CBBF;
  padding: 10px;
  width: 100%;
}

.align-items {
  background: #A1E0D9;
  padding: 10px;
  margin-top: 0;
  width: 100%;
}

.align-content {
  background: #61CBBF;
  padding: 10px;
  width: 100%;
}

.align-self {
  background: #A1E0D9;
  padding: 10px;
  margin-top: 0px;
  width: 100%;
}

.order {
  background: #61CBBF;
  padding: 10px;
  width: 100%;
}

.flex-grow {
  background: #A1E0D9;
  padding: 10px;
  margin-top: 0;
  width: 100%;
}

.flex-shrink {
  background: #61CBBF;
  padding: 10px;
  width: 100%;
}

.flex-basis {
  background: #A1E0D9;
  padding: 10px;
  margin-top: 0;
  width: 100%;
}

.flexterm {
  background: #61CBBF;
  padding: 10px;
  width: 100%;
}
